*{
    padding: 0px;
    margin: 0px;
}
/* 主視覺-------------------------------- */
.headerwrapper{
    height: 600px;
}
.h_box{
    /* width: 200px; */
    height: 200px;
    /* margin: 10px; */
    /* background: wheat; */
}
.h_box1{
    height: 600px;
    margin: 0;
    /* background: plum; */
    background-image: url("images/頁面採用照片/穿搭集/首頁/20201117144735709.jpg");
    /* background-size: cover; */
}
.h_box2-1{
    height: 400px;
    /* background: powderblue; */
    background-image: url("images/頁面採用照片/穿搭集/首頁/AllyshaLe_PopUp_DESKTOP22.jpg");
    background-size: cover;
}
.h_box2-2{
    height: 200px;
    /* background: powderblue; */
    background-size: cover;
    background-image: url("images/頁面採用照片/素材/物件素材/首頁_點點.svg");
    position: relative;
}

.title_text{
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;

}

/* 標題-------------------------------- */
.newsTitle {
    color: #ffaa22;
    font-size: 1em;
    /* margin-bottom: 1.5em; */
    text-align: center;
    font-weight: 600;
    line-height: 8;
  }
  
  .newsTitle span {
    display: block;
    /* font-size: 1.5em; */
    color: black;
    position: relative;
  }
  
  .newsTitle span:before,
  .newsTitle span:after {
    content: "";
    position: absolute;
    top: 50%;
    background: black;
    width: 40%;
    height: 3px;
  }
  .newsTitle span:before {
    left: 0%;
  }
  .newsTitle span:after {
    right: 0%;
  }
  .newsLetter-Spacing {
    letter-spacing: 10px;
  }


/* 文字-------------------------------- */
h3{
    font-family: 'Montserrat', sans-serif;
}


/* 春夏-------------------------------- */
.wrapper{
    width: 100%;
    margin: 10 auto;
    /* display: flex; */
    flex-direction: row-reverse;
    justify-content: center;
    /* background: cornsilk; */
}
.wrapper2{
    width: 100%;
    margin: 10 auto;
    /* display: flex; */
    /* flex-direction: row-reverse; */
    justify-content: center;
    /* background: cornsilk; */
}
.box{
    width: 200px;
    height: 200px;
    background: cornflowerblue;
    margin: 10px;
}
.box1{
    /* flex-grow: 2; */
    height:710px;
    background-image:url("images/頁面採用照片/穿搭集/內容視覺/JUNE_EDITED-8-v1590602563975.jpg");
    background-size: cover;
}
/* .box2{
    flex-grow: 1;
} */
.box2>.box{
    width:300px;
    background: darkcyan;
}
.box2>.box2-1{
    height: 400px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/3.jpg");
    background-size: cover;
}
.box2>.box2-2{
    height: 300px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/Home_TrendFeature_MB_12-4.jpg");
    background-size: cover;
}
.box3>.box{
    width: 250px;
    background: aquamarine;
    
}
.box3>.box3-1{
    height: 360px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/JUNE_EDITED-4-v1590602528298.jpg");
    background-size: cover;
}
.box3>.box3-2{
    height: 340px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/JUNE_EDITED-13-v1590602603366\ \(1\).jpg");
    background-size: cover;
}

/* 秋冬-------------------------------- */

.dwbox1{
    /* flex-grow: 2; */
    height:800px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/man.jpg");
    background-size: cover;
}

.dwbox2>.box{
    width:300px;
    background: darkcyan;
}
.dwbox2>.dwbox2-1{
    height: 350px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/Home_Kids_DT_9-30-2.jpg");
    background-size:cover;
}
.dwbox2>.dwbox2-2{
    height: 200px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/New_Women.jpg");
    background-size: cover;
}
.dwbox3>.dwbox{
    width: 250px;
    background: aquamarine;
    
}
.dwbox3>.dwbox3-1{
    height: 320px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/14_300x.jpg");
    background-size: cover;
}
.dwbox3>.dwbox3-2{
    height: 230px;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/f20_accessories22.jpg");
    background-size: cover;
}
.dwbox4{
    /* display: flex; */
    padding: 10px;
    height: 220px;
    width: 580px;
    flex-direction: column-reverse;
    background-image: url("images/頁面採用照片/穿搭集/內容視覺/F20_women22.jpg");
    /* background: brown; */
    background-size: cover;
}
