.clothingbackstage {
  .btn-primary {
    color: black !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
  }
  ::marker {
    color: #ffffff;
  }

  .card-header {
    background-color: #ffffff !important;
  }
}
