// 變數覆蓋需要在導入Bootstrap的Sass檔案之前
// 參考Bootstrap的 _variables.scss
// $primary: rgb(148, 36, 240);
// $secondary: rgba(10, 10, 10, 0.842);

// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
.breadcrumb {
  background: white;
  font-size: 12px;
  font-family: MontserratRegular;
}

.Sidebar {
  // height: 100%;
  // height: 80vh;
  width: 20%;
  font-size: 20px;
  font-family: MontserratBoldItalic;
  .SidebarList {
    padding: 0;
    // width: 100%;
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }
    .solid-bottom {
      width: 75%;
      margin: 0 auto;
      border: solid #acc0d8 1px;
    }
    .row {
      height: 60px;
      .icon {
        transform: translate(0, -2px);
      }
    }
    .row:hover {
      cursor: pointer;
      background-color: rgba(243, 112, 34, 0.3);
    }
    #active {
      background-color: rgba(243, 112, 34, 0.3);
    }
  }
}

.main {
  width: 80%;
  // height: 80vh;
  .title {
    font-size: 26px;
    font-family: MontserratBoldItalic;
  }
  .mailamount {
    font-size: 20px;
    font-family: MontserratLight;
  }
  .mails {
    height: 75vh;
    border: 1px solid #707070;
  }
  .refunds {
    height: 75vh;
    .refundlist {
      border: 1px solid #707070;
      font-size: 24px;
      font-family: MontserratSemiBold;
      .solid-bottom {
        width: 90%;
        margin: 0 auto;
        border: solid #acc0d8 1px;
      }
    }
  }
  .MailList {
    width: 100%;
    .MailListItem {
      height: 120px;
      div {
        font-size: 20px;
        font-family: MontserratBoldItalic;
        ul .newstime {
          font-size: 16px;
          font-family: MontserratLight;
        }
      }
    }
  }
}

@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'MontserratBoldItalic';
  src: url('../fonts/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf');
}
