// 變數覆蓋需要在導入Bootstrap的Sass檔案之前
// 參考Bootstrap的 _variables.scss
// $primary: rgb(148, 36, 240);
// $secondary: rgba(10, 10, 10, 0.842);

// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
* {
  box-sizing: border-box;
}

.breadcrumb {
  background: white;
  font-size: 12px;
  font-family: MontserratRegular;
}

.Sidebar {
  // height: 100%;
  // height: 80vh;
  // width: 20%;
  font-size: 20px;
  font-family: MontserratBoldItalic;
  .SidebarList {
    padding: 0;
    // width: 100%;
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }
    .solid-bottom {
      width: 75%;
      margin: 0 auto;
      border: solid #acc0d8 1px;
    }
    .row {
      height: 60px;
      .icon {
        transform: translate(0, -2px);
      }
    }
    .row:hover {
      cursor: pointer;
      background-color: rgba(243, 112, 34, 0.3);
    }
    #active {
      background-color: rgba(243, 112, 34, 0.3);
    }
  }
}

//會員後台
.main {
  .title {
    font-size: 26px;
    font-family: MontserratBoldItalic;
  }
  // 我的信箱
  .mailamount {
    font-size: 20px;
    font-family: MontserratLight;
  }
  .mails {
    height: 75vh;
    border: 1px solid #707070;
  }
  .MailList {
    width: 100%;
    .MailListItem {
      height: 120px;
      div {
        font-size: 20px;
        font-family: MontserratBoldItalic;
        ul .newstime {
          font-size: 16px;
          font-family: MontserratLight;
        }
      }
    }
  }
  // 訂單紀錄
  .orders {
    height: 75vh;
    .orderlist {
      border: 1px solid #707070;
      font-size: 24px;
      font-family: MontserratSemiBold;
      .solid-bottom {
        width: 90%;
        margin: 0 auto;
        border: solid #acc0d8 1px;
      }
    }
  }

  // 會員專區
  .member1 {
    height: 160px;
    border: solid #707070 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    .memberlist {
      .listtitle {
        font-size: 20px;
        font-family: MontserratBoldItalic;
      }
      .listtitle1 {
        font-size: 16px;
        font-family: MontserratMedium;
      }
      .listnum {
        font-size: 50px;
        font-family: MontserratBold;
      }
    }
  }
  .circle {
    border: 5px solid #666;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative;
    .circle-icon1 {
      top: calc(50% - 45px);
      left: calc(50% - 50px);
      position: absolute;
    }
    .circle-icon2 {
      top: calc(50% - 55px);
      left: calc(50% - 60px);
      position: absolute;
    }
  }
  .memberlv {
    border: 3px solid #666;
    border-radius: 10px 10px;
    .solid-bottom {
      width: 90%;
      margin: 0 auto;
      border: 2px solid #666;
    }
  }

  // 蒐藏清單
  .favorites {
  }
  // 帳號設定

  // 聯絡我們
}

@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'MontserratBoldItalic';
  src: url('../fonts/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'MontserratMedium';
  src: url('../fonts/Montserrat-Medium.ttf');
}
