.dashboard {
  /* reset start */

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* reset end */
  /* whole section start */

  .google-font {
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    letter-spacing: 1.5px;
  }

  body {
    background-color: #f6f6f7;
  }

  .wrap {
    display: flex;
  }

  /* whole section end */
  /* main-aside start */

  .main-aside {
    width: 250px;
    height: 100vh;
    position: fixed;
  }

  .main-aside .logo-wrap a {
    display: block;
    height: 60px;
    text-align: center;
    border-right: 2px solid transparent;
    background-color: #353c1d;
  }

  .main-aside .logo-wrap a img {
    width: 45px;
    object-fit: contain;
    position: relative;
    top: 6.86px;
  }

  .menu-ul {
    background-color: #ecd5a3;
    height: calc(100% - 60px);
    overflow-y: scroll;
  }

  .menu-ul .menu-li .menu-a {
    padding: 15px 15px;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #353c1d;
    text-decoration: none;
    background-color: #ecd5a3;
    cursor: pointer;
    transition: 0.1s;
  }

  .menu-ul .menu-li .menu-a:hover {
    background-color: rgba(246, 246, 247, 0.4);
  }

  .menu-ul .menu-li .menu-a i {
    width: 30px;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
  }

  .menu-ul .menu-li .menu-a .fa-angle-down {
    padding-right: 0px !important;
    transition: 0.1s;
  }

  .menu-ul .menu-li .menu-inner-ul {
    max-height: 0;
    overflow: hidden;
    transition: 0.1s;
  }
  .active-inner-ul {
    max-height: 800px !important;
  }
  .menu-li .menu-inner-ul li a {
    background-color: rgba(246, 246, 247, 0.4);
    display: block;
    padding: 15px 0px 15px 50px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    color: #353c1d;
    transition: 0.2s;
  }

  .menu-li .menu-inner-ul li a:hover {
    padding: 15px 0px 15px 65px;
  }

  /* main-aside end */
  /* main-main start */

  .main-main {
    min-height: 100vh;
    margin-left: 250px;
    width: 100%;
    position: relative;
  }

  /* main-main nav start */

  .main-main .main-nav {
    width: calc(100% - 250px);
    position: fixed;
    height: 60px;
    background-color: #353c1d;
  }

  .main-main .main-nav .main-nav-ul {
    display: flex;
  }

  .main-nav-ul .main-nav-ul-li .nav-a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 0px 10px 0px 10px;
    position: relative;
  }

  .main-nav-ul .main-nav-ul-li .nav-a i {
    font-size: 24px;
    transition: 0.1s;
    color: white;
    line-height: 60px;
  }

  .main-nav-ul .main-nav-ul-li .nav-a .bell-badge {
    font-size: 12px;
    color: white;
    background-color: red;
    display: block;
    padding: 0px 5.875px 0px 5.875px;
    border-radius: 10px;
    text-align: center;
    top: 13px;
    left: 17px;
    position: absolute;
    line-height: 20px;
  }

  .main-nav-ul .setting-li {
    display: flex;
    align-items: center;
  }

  .main-nav-ul .setting-li .setting-li-a {
    width: 100px;
    box-sizing: border-box;
    display: flex;
    padding: 0px 15px 0px 15px;
    justify-content: space-between;
    background-color: rgb(255, 136, 17);
    border-radius: 5px;
    transition: 0.1s;
    z-index: 1;
  }

  .main-nav-ul .setting-li .setting-li-a:hover {
    background-color: #f37022;
  }

  .main-nav-ul .setting-li .setting-li-a i {
    line-height: 40px;
    width: 20px;
    text-align: center;
    font-size: 20px;
  }

  .main-nav-ul .setting-li .setting-inner-ul {
    width: 100px;
    max-height: 0px;
    padding-top: 3px;
    overflow: hidden;
    position: absolute;
    display: block;
    transition: 0.1s;
    top: 43px;
    background-color: transparent;
    border-radius: 0px 0px 5px 5px;
  }

  .main-nav-ul .setting-li .setting-inner-ul li a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 15px;
    line-height: 20px;
  }

  .setting-inner-ul li a .setting-word:hover {
    text-decoration: underline;
  }

  .setting-inner-ul li a i {
    width: 20px;
    font-size: 20px;
    padding-right: 5px;
    text-align: center;
  }

  /* main-main nav end */
  /* main-main content start */

  .main-content {
    min-height: calc(100vh - 112px);
    margin-top: 60px;
    box-sizing: border-box;
    padding: 20px;
  }

  .main-content .breadcrumb-nav {
    margin-bottom: 20px;
  }

  .main-content .breadcrumb-nav .breadcrumb {
    display: flex;
    font-size: 12px;
  }

  .breadcrumb-nav .breadcrumb .breadcrumb-split {
    padding: 0px 5px 0px 5px;
    color: #353c1d;
    font-weight: 700;
  }

  .breadcrumb-nav .breadcrumb .breadcrumb-actived {
    color: #353c1d;
    text-decoration: none;
  }

  .breadcrumb-nav .breadcrumb .breadcrumb-actived:hover {
    text-decoration: underline;
  }

  .breadcrumb-nav .breadcrumb .breadcrumb-disabled {
    color: olive;
    text-decoration: none;
    pointer-events: none;
  }

  /* main-main content end */
  /* main-main end */
  /* main-footer start */

  .main-footer {
    padding: 20px 0 20px 0;
  }

  .main-footer .go-top {
    display: inline-block;
    position: fixed;
    bottom: 52px;
    right: 52px;
    padding: 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(53, 60, 29, 0.9);
    color: white;
    transition: 0.2s;
  }

  .main-footer .go-top:hover {
    transform: scale(1.1);
  }

  .main-footer p {
    font-size: 12px;
    color: #353c1d;
    text-align: center;
  }

  /* main-footer end */
  /* toggle classlist start */

  .open .icon-rotate {
    transform-origin: center;
    transform: rotate(180deg);
  }

  .open .menu-a {
    background-color: #f37022 !important;
    color: white !important;
  }

  .open .menu-inner-ul {
    max-height: 1000px !important;
    overflow: visible !important;
  }

  .setting-open .setting-li-a {
    background-color: #f37022 !important;
  }

  .setting-open .setting-inner-ul {
    max-height: 1000px !important;
    overflow: visible !important;
    z-index: 0 !important;
    background-color: #f37022 !important;
  }

  .setting-open .nav-a .fa-caret-down {
    transform: rotate(180deg);
  }

  /* toggle classlist end */
}
